@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

ul {
  list-style-type: none;
  padding-left: 5px;
}

body{
  background-color: #F7F7F7;
}

.img {
  background-image: url("assets/opf-site-logo.png");
  width: 84px;
  height: 48px
}


.red{
 color: red;
}

.amber{
  color: yellow;
}

.green{
  color: green;
}

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}
